*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #000;
}
.menu-logo{
    height: 36px;
    border-radius: 50%;
}
.menu-container-link{
    display: flex;
    align-items: center;
}
.menu-lista-links{
    display: flex;
    gap: 25px;
    list-style: none;
}
.menu-link{
    color:#fff;
    text-decoration: none;
}
.menu-link:hover{
    color:rgb(128, 128, 19);
    transition: .5s;
}
.header{
    background-color: #263d2e;
    color: #fff;
}
.container-header{
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
    font-size: 28px;
    text-transform: uppercase;
}
.sessao01{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
}
.sessao01 img{
    width: 25%;
    border-radius: 50%;
}
.sessao01 div{
    padding-left: 25px;
}
.sessao01 div h2{
    padding: 10px 0 0 0;
    border-bottom: 2px solid  #263d2e;;
}
.sessao01 div p{
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}
.sessao02{
    background-color: #263d2e54;
    text-align: center;
}
.sessao02 h2{
    padding: 25px 0 ;
    font-size: 32px;
    text-transform: uppercase;
}
.sessao02-container{
    width: 80%;
    margin: 0 auto;
}
.sessao02-container-imagens{
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
 }
.sessao02-container-imagens img{
    width: 25%;
 }
 .footer{
    background-color:  #263d2e;
    text-align: center;
    color: #fff;
    padding: 35px;
 }
 .footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 33px;
 }
.sessao2-img{
    width: 80%;
    margin: 0 auto;
}
.sessao2-img img{
    width: 100%;
    margin-bottom: 35px;
}
 .container{
    width: 80%;
    margin: 0 auto;
    padding: 35px 0;
 }
 .sessao-imagem{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
 }
 .sessao-imagem img{
    width: 30%;
 }
 .sessao-imagem-10{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
 }
 .sessao-imagem-10 img{
    width: 10%;
 }
 .img-100{
    width: 100% !important;
 }
 .img-60{
    width: 60% !important;
 }
 .img-30{
    width: 30% !important;
 }